<app-painel titulo="Criar novo projeto">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-9">
            <app-input-default formControlName="nome" type="text" minlength="3" maxlength="30" placeholder="Nome" required></app-input-default>
        </div>
        <div class="col-md-3">
          <app-input-default formControlName="sigla" type="text" minlength="3" maxlength="10" placeholder="Sigla" required></app-input-default>
      </div>
      <div class="col-md-12">
        <app-input-default formControlName="descricao" type="text" maxlength="2048" placeholder="Descricao" required></app-input-default>
    </div>
      </div>
    </form>
    <div footer class="d-flex wid-100">
      <button mat-raised-button (click)="salvar()"> Criar</button>
    </div>
</app-painel>
