<mat-card class="sistema-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-subtitle class="subtitulo">Cadastro de sistema</mat-card-subtitle>
      <mat-card-title class="titulo">teste</mat-card-title>
    </mat-card-header>
  <mat-card-content>
      <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
    <p>
      Teste
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Ver</button>
    <button mat-button>Remover</button>
  </mat-card-actions>
</mat-card>
