<p>blank works!</p>

<div class="loader">



  <svg width="130" heigth="130" viewBox="0,0,130,130" xmlns="http://www.w3.org/2000/svg">

    <polygon points="0 25, 25 0, 100 0, 100 75, 75 100, 0 100" fill="none" stroke-width="5" stroke="red">


    </polygon>



  </svg>

  <svg width="130" heigth="130" viewBox="0,0,130,130" xmlns="http://www.w3.org/2000/svg">

    <line x1="0" y1="25" x2="25" y2="0" stroke="red">
      <animate
      attributeType="XML"
      attributeName="x2"
      from="0"
      to="25"
      dur="3s"
    />
    <animate
      attributeType="XML"
      attributeName="y2"
      from="25"
      to="0"
      dur="3s"
    />
  </line>

  <line x1="25" y1="0" x2="100" y2="0" stroke="red">
    <animate
    attributeType="XML"
    attributeName="x2"
    from="25"
    to="100"
    dur="3s"

  />
  <animate
    attributeType="XML"
    attributeName="y2"
    from="0"
    to="0"
    dur="3s"

  />
</line>

<line x1="100" y1="0" x2="100" y2="75" stroke="red">

<animate
  attributeType="XML"
  attributeName="y2"
  from="0"
  to="75"
  dur="3s"

/>
</line>

<line x1="100" y1="75" x2="75" y2="100" stroke="red">
  <animate attributeType="XML" attributeName="x2" from="100" to="75" dur="3s"/>
  <animate attributeType="XML" attributeName="y2" from="75" to="100" dur="3s"/>
</line>

<line x1="75" y1="100" x2="0" y2="100" stroke="red">
  <animate attributeType="XML" attributeName="x2" from="75" to="0" dur="3s"/>
</line>

<line x1="0" y1="100" x2="0" y2="25" stroke="red">
  <animate attributeType="XML" attributeName="y2" from="100" to="25" dur="3s"/>
</line>

<line x1="0" y1="25" x2="75" y2="25" stroke="red">
  <animate attributeType="XML" attributeName="x2" from="0" to="75" dur="3s"/>
</line>

<line x1="75" y1="25" x2="100" y2="0" stroke="red">
  <animate attributeType="XML" attributeName="x2" from="75" to="100" dur="3s"/>
  <animate attributeType="XML" attributeName="y2" from="25" to="0" dur="3s"/>
</line>

<line x1="75" y1="25" x2="75" y2="100" stroke="red">
  <animate attributeType="XML" attributeName="y2" from="25" to="100" dur="3s"/>
</line>

<line x1="25" y1="0" x2="25" y2="75" stroke="red">
  <animate attributeType="XML" attributeName="y2" from="0" to="75" dur="3s"/>
</line>

<line x1="25" y1="75" x2="0" y2="100" stroke="red" >
  <animate attributeType="XML" attributeName="x2" from="25" to="0" dur="3s"/>
  <animate attributeType="XML" attributeName="y2"  from="75" to="100" dur="3s"/>

</line>
<line x1="25" y1="75" x2="100" y2="75" stroke="red" stroke-width="5">
  <animate attributeType="XML" attributeName="x2" from="25" to="100" dur="3s"/>
  <animate attributeType="XML" attributeName="stroke-width" from="1" to="5" dur="3s"/>

</line>

  </svg>
</div>
