<div class="d-flex flex-column max-height">
  <app-header (clickEvent)="toogleNav()"></app-header>
  <mat-sidenav-container class="flex-fill">
    <mat-sidenav [mode]="mode" [fixedInViewport]="fixed" class="side-nav" [ngClass]="{'max-width': !mobile?.matches}" [opened]="open">
      <app-menu-lateral></app-menu-lateral>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-fluid full-heigth" [@routeAnimations]="animation">
        <router-outlet #outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
