/**
7C7070 - 2 E
3D3D37 - 1 E
303030 - CENTRAL
595F63 - 1 D
70787C - 2 D
**/

@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

$green-tema: #b1cbbb;

$candy-app-warn: mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

.bg-green button {
  background-color: $green-tema;
  color: #fff;
}

.text-green {
  color: $green-tema !important;
}

