<app-painel titulo="Cadastrar">
  <form [formGroup]="form">
      <div class="row mt-3">
          <div class="col-12">
            <mat-form-field class="max-width">
              <input type="text" placeholder="Username" matInput formControlName="nome">
            </mat-form-field>
            <mat-form-field class="max-width">
                <input type="text" matInput formControlName="sobrenome" placeholder="Sobrenome">
              </mat-form-field>
          </div>
        </div>
  </form>
</app-painel>
